In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('AllFilmsRatings.csv')

In [6]:
df_feawr = pd.read_csv('300kFilms.csv')

In [10]:
df_feawr.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,\N,nan
0,3817,tt0003854,movie,Dodge City Trail,Dodge City Trail,0,1936,\N,56,"Adventure,Music,Western",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,15494,tt0015724,movie,Dama de noche,Dama de noche,0,1993,\N,102,"Drama,Mystery,Romance",...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15796,tt0016029,movie,The Little Colonel,The Little Colonel,0,1935,\N,81,"Comedy,Family,Musical",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17712,tt0017961,movie,Happiness,Schaste,0,1935,\N,95,"Comedy,Drama",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,18603,tt0018867,movie,Escape from Hong Kong,Escape from Hong Kong,0,1942,\N,60,"Adventure,War",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [18]:
df.genre[19]

"['Comedy,', 'Drama']"

In [20]:
df.title.values[19]

'O Negócio'

In [19]:
df_feawr[((df_feawr.primaryTitle==df.title.values[19]) | (df_feawr.originalTitle==df.title.values[19]))]

Empty DataFrame
Columns: [Unnamed: 0, tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres, genres2, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western, \N, nan]
Index: []

[0 rows x 41 columns]

In [13]:
df_kr = pd.read_csv('ScraperRatings-KR.csv')

In [229]:
dfs_fr = []
for i in range(1,7,1):
    dfs_fr.append(pd.read_csv('ScraperRatings8750-FR-'+str(i)+'.csv'))
df_fr = pd.concat(dfs_fr, axis=0)

In [230]:
df_fr[df_fr.title=='Breathless']

       Unnamed: 0  year       title                genre metascore imdb_rating
19             19  1960  Breathless  ['Crime,', 'Drama']      None         7.9
13132       13132  2013  Breathless  ['Short,', 'Drama']      None           X

In [231]:
df_fr.genre = df_fr.genre.apply(clean)
df_fr.head()

,Unnamed: 0,year,title,genre,metascore,imdb_rating
0,0,2019,The Spy,"[Drama, History]",None,7.8
1,1,2019,Anna,"[Action, Thriller]",40,6.6
2,2,2019–,Marianne,[Horror],None,7.7
3,3,2015,Love,"[Drama, Romance]",51,6.1
4,4,2019,An Officer and a Spy,"[Drama, History, Thriller]",56,7.4

In [236]:
for index, row in df_fr.iterrows():
    for genre in df_fr.iloc[index]['genre']:
        df_fr.iloc[index,df_fr.columns.tolist().index(genre)]=1

In [237]:
df_fr.head()

,Unnamed: 0,year,title,genre,metascore,imdb_rating,Action,Adult,Adventure,Animation,...,None,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,2019,The Spy,"[Drama, History]",None,7.8,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019,Anna,"[Action, Thriller]",40,6.6,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,2019–,Marianne,[Horror],None,7.7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2015,Love,"[Drama, Romance]",51,6.1,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2019,An Officer and a Spy,"[Drama, History, Thriller]",56,7.4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [238]:
df_fr.iloc[0][['Drama', 'History']]

Drama      1
History    1
Name: 0, dtype: object

In [262]:
df_short = df_fr[df_fr.Short!=1]
df_short.shape

(92631, 35)

In [266]:
df_short['series'] = df_short.year.astype(str).apply(series)
df_series = df_short[df_short.series==0]
df_series['sum'] = df_series.loc[:, 'Action':'Western'].sum(axis=1)
df_genres = df_series[(df_series['None']!=1) & (df_series['Game-Show']!=1) & (df_series['News']!=1) & \
                   (df_series['Reality-TV']!=1) & ((df_series['Sport']!=1) | (df_series['sum']!=1)) & \
                  (df_series['Talk-Show']!=1)]    
df_genres.year = df_genres.year.fillna(3000).astype(str)
df_genres['special'] = df_genres.year.apply(clean2)
df_genres['tvmovie'] = df_genres.year.apply(clean3)
df_video = df_genres[(df_genres.special!=1) & (df_genres.tvmovie!=1)]
df_ano2 = df_video[df_video.year!='3000']
df_final = df_ano2[['title', 'year','metascore', 'imdb_rating', 'Action', 'Adventure', 'Animation', 'Biography', \
                   'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', \
                   'Musical', 'Mystery', 'Romance', 'Sci-Fi','Sport', 'Thriller', 'War', 'Western' ]]

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [267]:
df_final.shape

(50600, 25)

In [270]:
def year_int(year):
    try:
        return int(year)
    except:
        return 0

In [271]:
df_final['year2'] = df_final.year.apply(year_int)

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [274]:
df_final2 = df_final[df_final.year2!=0]

In [275]:
df_final3 = df_final2[(df_final2.year.astype(int)>=1931) & (df_final2.year.astype(int)<=2019)]

In [277]:
df_final3.shape

(35633, 26)

In [284]:
df_final3.to_csv('FeatureFilms-FR.csv')

In [239]:
def clean_df(df):
    df.genre = df.genre.apply(clean)
    a = np.unique(np.array([item for sublist in df.genre.values for item in sublist]))
    for i in a:
        df[i] = np.zeros(df.shape[0])
    for index, row in df.iterrows():
        for genre in df.iloc[index]['genre']:
            df.iloc[index,df.columns.tolist().index(genre)]=1
    df_short = df[df.Short!=1]
    df_short['series'] = df_short.year.astype(str).apply(series)
    df_series = df_short[df_short.series==0]
    df_series['sum'] = df_series.loc[:, 'Action':'Western'].sum(axis=1)
    df_genres = df_series[(df_series['None']!=1) & (df_series['Game-Show']!=1) & (df_series['News']!=1) & \
                   (df_series['Reality-TV']!=1) & ((df_series['Sport']!=1) | (df_series['sum']!=1)) & \
                  (df_series['Talk-Show']!=1)]    
    df_genres.year = df_genres.year.fillna(3000).astype(str)
    df_genres['special'] = df_genres.year.apply(clean2)
    df_genres['tvmovie'] = df_genres.year.apply(clean3)
    df_video = df_genres[(df_genres.special!=1) & (df_genres.tvmovie!=1)]
    df_ano2 = df_video[df_video.year!='3000']
    df_final = df_ano2[['title', 'year','metascore', 'imdb_rating', 'Action', 'Adventure', 'Animation', 'Biography', \
                   'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', \
                   'Musical', 'Mystery', 'Romance', 'Sci-Fi','Sport', 'Thriller', 'War', 'Western' ]]
    return df_final

In [132]:
df = clean_df(df_fr)

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [141]:
df[df.year=='1960']

,title,year,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
13300,Thunder in the Blood,1960,None,X,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13643,Le 7eme jour de Saint-Malo,1960,None,X,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
14917,Demain à Nanguila,1960,None,X,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15394,"Moranbong, une aventure coréenne",1960,None,X,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
16987,Les Tonnes de l'Audace - Mission Ténéré Tchad,1960,None,X,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19996,Interpol contre X (Dossier AST-555),1960,None,X,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20007,Interpol contre X (Dossier AST-555),1960,None,X,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
df_fr.head()

,Unnamed: 0,year,title,genre,metascore,imdb_rating,Action,Adult,Adventure,Animation,...,None,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,2019,The Spy,"[Drama, History]",None,7.8,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,2019,Anna,"[Action, Thriller]",40,6.6,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,2,2019–,Marianne,[Horror],None,7.7,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,3,2015,Love,"[Drama, Romance]",51,6.1,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,4,2019,An Officer and a Spy,"[Drama, History, Thriller]",56,7.4,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0

In [125]:
df_series = df_fr[df_fr.Short!=1]
df_series['series'] = df_series.year.astype(str).apply(series)
df_series = df_series[df_series.series!=1]
df_series['sum'] = df_series.loc[:, 'Action':'Western'].sum(axis=1)
df_series.shape

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(5274, 37)

In [124]:
df_series[df_series.series==1]

,Unnamed: 0,year,title,genre,metascore,imdb_rating,Action,Adult,Adventure,Animation,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,series,sum
173,173,2017–,La forêt,"[Crime, Drama]",None,7.3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
228,228,2009–2017,Un village français,[Drama],None,8.3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,6.0
297,297,2015–,Capitaine Marleau,"[Crime, Drama, Mystery]",None,7.3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,6.0
607,607,2008–2017,Wakfu,"[Animation, Adventure, Family]",None,8.2,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,9.0
1085,1085,2012–,En Famille,[Comedy],None,5.7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,5.0
1191,1191,2010–,Zig & Sharko,"[Animation, Action, Comedy]",None,6.7,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,7.0
1286,1286,2005–2008,Robotboy,"[Animation, Action, Comedy]",None,5.7,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,10.0
1513,1513,2016–,Sept nains et moi,"[Animation, Comedy, Family]",None,6.6,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
1522,1522,2006–2014,Mafiosa,"[Crime, Drama]",None,7.4,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,6.0
1560,1560,1999–2000,Avengers: United They Stand,"[Animation, Action, Adventure]",None,5.5,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,9.0
1679,1679,2006–,Camping paradis,[Comedy],None,5.5,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6.0
1691,1691,2006–,Minuscule,"[Animation, Comedy]",None,8.2,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,8.0
1806,1806,2018–,Philharmonia,"[Drama, Thriller]",None,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,5.0
2267,2267,1975–,Michel Strogoff,"[Adventure, Drama, Romance]",None,7.3,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6.0
2279,2279,1989–1999,Histoire(s) du cinéma,[Documentary],None,7.3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
2518,2518,2014–,Résistance,"[Drama, History, War]",None,7.4,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,7.0
3078,3078,2011–,Bref.,[Comedy],None,8.2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,6.0
3124,3124,1965–,Belphegor,"[Romance, Thriller]",None,7.5,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,4.0
3177,3177,2000–,L'invité,[Talk-Show],None,4.4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,3.0
3203,3203,2015–,Malaterra,"[Crime, Drama, Mystery]",None,6.2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6.0
3817,3817,1972–,La demoiselle d'Avignon,[Drama],None,6.9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6.0
4045,4045,1997–,P.J.,"[Crime, Thriller]",None,6.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,5.0
4461,4461,2015–,Petits secrets en famille,[Mystery],None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
4767,4767,2017–,Les Légendaires,[Animation],None,X,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.0
4805,4805,2017–,Nils Holgersson,[Animation],None,5.4,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
5078,5078,2018–,Qu'est ce qu'on attend pour être heureux?,"[Comedy, Drama]",None,5.5,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
5437,5437,1989–1994,Salut les musclés,[Comedy],None,2.6,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
5740,5740,1982–,Mozart,"[Biography, Drama]",None,8.2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
5932,5932,1982–1991,Cinéma cinémas,[Documentary],None,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6.0
5957,5957,2012–,Les Carnets de Julie,[Documentary],None,7.6,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,1191,2010–,"Victor Hugo, un siècle en révolutions",[Documentary],None,X,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,7.0
1200,1200,2018–,Épisode 44,"[Comedy, Crime, Drama]",None,X,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
1286,1286,1978–1988,Episode dated 6 September 1978,"[Animation, Comedy, Family]",None,X,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,10.0
1332,1332,2018–,Episode #1.3,[Game-Show],None,X,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1,8.0
1427,1427,2018–,Épisode 60,"[Comedy, Crime, Drama]",None,X,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,7.0
1472,1472,2017–,Un Homme Blessé: Partie 1,"[Crime, Mystery]",None,7.1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
1510,1510,2018–,Épisode 69,"[Comedy, Crime, Drama]",None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,7.0
1513,1513,1982–,Episode dated 14 September 1984,[Comedy],None,X,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
1514,1514,1982–,Episode dated 22 April 1987,[Comedy],None,X,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,7.0
1522,1522,1982–,Episode dated 23 April 1985,[Comedy],None,X,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,6.0
1560,1560,2018–,Épisode 73,"[Comedy, Crime, Drama]",None,X,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,9.0
1572,1572,1987–1994,Episode dated 27 August 1988,[None],None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6.0
1585,1585,2018–,Épisode 75,"[Comedy, Crime, Drama]",None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.0
1608,1608,1984–,Episode dated 21 April 1987,[Comedy],None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
1625,1625,2001–2019,Episode #3.4,"[Comedy, Family, Game-Show]",None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,7.0
1664,1664,2013–,Dans les cordes,[Drama],None,X,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
1679,1679,2016–,Diamants noirs,"[Crime, Drama, Mystery]",None,X,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,6.0
1691,1691,1999–2016,Je fais tout pour ressembler à une star,[Talk-Show],None,X,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,8.0
1710,1710,2010–,Episode dated 13 October 2014,[Talk-Show],None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,5.0
1739,1739,1998–,Le grand cabaret sur son 31 (2018),"[Comedy, Music, Talk-Show]",None,X,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,8.0
1770,1770,2018–,Épisode 90,"[Comedy, Crime, Drama]",None,X,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,7.0
1781,1781,2017–2019,Marianne,"[Comedy, Drama]",None,X,1.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1,11.0
1784,1784,2013–,"Cherif, fais-moi peur",[Crime],None,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,3.0
1821,1821,2013–,Candidat malgré lui,[Drama],None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,6.0
1912,1912,1987–,Episode dated 21 December 1988,[Comedy],None,X,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.0
2058,2058,2014–,Impartiale,"[Comedy, Crime, Drama]",None,X,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
2103,2103,2011–2013,Episode dated 25 October 2011,[Game-Show],None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,8.0
2163,2163,2018–,Épisode 132,"[Comedy, Crime, Drama]",None,X,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,5.0
2224,2224,2017–,Épisode 416,"[Crime, Thriller]",None,X,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,10.0
2233,2233,2010–,Episode dated 5 May 2017,[Talk-Show],None,X,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,5.0

In [127]:
df_genre = df_series[(df_series['None']!=1) & (df_series['Game-Show']!=1) & (df_series['News']!=1) & \
                   (df_series['Reality-TV']!=1) & ((df_series['Sport']!=1) | (df_series['sum']!=1)) & \
                  (df_series['Talk-Show']!=1)]    
print(df_genre.shape)
df_genre.year = df_genre.year.fillna(3000)
df_genre = df_genre[df_genre.year!=3000]

(2865, 37)

In [128]:
df_genre.shape

(2744, 37)

In [129]:
df_genre['special'] = df_genre.year.apply(clean2)
df_genre['tvmovie'] = df_genre.year.apply(clean3)
df_video = df_genre[(df_genre.special!=1) & (df_genre.tvmovie!=1)]
df_ano2 = df_video[df_video.year!='3000']

In [130]:
df_ano2.shape

(1666, 39)

In [72]:
df = df_fr
df.genre = df.genre.apply(clean)
a = np.unique(np.array([item for sublist in df.genre.values for item in sublist]))
for i in a:
        df[i] = np.zeros(df.shape[0])
for index, row in df.iterrows():
    for i in row['genre']:
         df_fr.iloc[index, df_fr.columns.tolist().index(i)] = 1

In [221]:
df_fr.iloc[0, df_fr.columns.tolist().index('Action')] = 1

In [222]:
df_fr.head()

,Unnamed: 0,year,title,genre,metascore,imdb_rating,Action,Adult,Adventure,Animation,...,None,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,2019,The Spy,"[Drama, History]",None,7.8,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019,Anna,"[Action, Thriller]",40,6.6,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2019–,Marianne,[Horror],None,7.7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2015,Love,"[Drama, Romance]",51,6.1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2019,An Officer and a Spy,"[Drama, History, Thriller]",56,7.4,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
df_fr['series'] = df_fr.year.astype(str).apply(series)

In [48]:
df_fr = clean_df(df_fr)

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [71]:
print(df_fr.shape)
df_fr.head()

(100984, 46)

,Unnamed: 0,year,title,genre,metascore,imdb_rating,,',",",-,...,n,o,p,r,s,t,u,v,w,y
0,0,2019,The Spy,"['Drama,', 'History']",None,7.8,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1,1,2019,Anna,"['Action,', 'Thriller']",40,6.6,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
2,2,2019–,Marianne,['Horror'],None,7.7,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,2015,Love,"['Drama,', 'Romance']",51,6.1,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
4,4,2019,An Officer and a Spy,"['Drama,', 'History,', 'Thriller']",56,7.4,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0

In [26]:
df_fr.head()

,Unnamed: 0,year,title,genre,metascore,imdb_rating,Action,Adult,Adventure,Animation,...,None,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,2019,The Spy,"[Drama, History]",None,7.8,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,2019,Anna,"[Action, Thriller]",40,6.6,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,2,2019–,Marianne,[Horror],None,7.7,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,3,2015,Love,"[Drama, Romance]",51,6.1,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,4,2019,An Officer and a Spy,"[Drama, History, Thriller]",56,7.4,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0

In [15]:
df.head()

,Unnamed: 0,year,title,genre,metascore,imdb_rating
0,0,2019,Parasite,"['Comedy,', 'Drama,', 'Thriller']",92,8.5
1,1,2013,Snowpiercer,"['Action,', 'Drama,', 'Sci-Fi']",84,7.1
2,2,2003,Oldeuboi,"['Action,', 'Drama,', 'Mystery']",77,8.4
3,3,2016,The Handmaiden,"['Drama,', 'Romance,', 'Thriller']",84,8.1
4,4,2018,Burning,"['Drama,', 'Mystery']",90,7.6

In [17]:
def clean(genre):
    g = []
    for i in genre[genre.index('[')+1:genre.index(']')].split():
        '''if (i==genre[genre.index('[')+1:genre.index(']')].split()[-1]):
            g.append(i[:i.index('\'')])'''
        try:
            g.append(i[i.index('\'')+1:i.index(',')])
        except:
            g.append(i[i.index('\'')+1:-1])
    return g

In [18]:
df_fr.genre = df_fr.genre.apply(clean)

In [17]:
df.genre = df.genre.apply(clean)

In [18]:
a = np.unique(np.array([item for sublist in df.genre.values for item in sublist]))

In [19]:
for i in a:
    df[i] = np.zeros(df.shape[0])

In [20]:
for i in a:
    df[i] = np.zeros(df.shape[0])
for index, row in df.iterrows():
    for i in row['genre']:
        df.at[index, i] = 1

In [23]:
for col in df.columns:
    print(col)

Unnamed: 0
year
title
genre
metascore
imdb_rating
Action
Adventure
Animation
Biography
Comedy
Crime
Documentary
Drama
Family
Fantasy
Game-Show
History
Horror
Music
Musical
Mystery
News
None
Reality-TV
Romance
Sci-Fi
Short
Sport
Talk-Show
Thriller
War
Western

In [24]:
df = df.drop(['genre'], axis=1).iloc[:, 1:]

In [25]:
df.head()

,year,title,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,None,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,2019,Parasite,92,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2013,Snowpiercer,84,7.1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2003,Oldeuboi,77,8.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2016,The Handmaiden,84,8.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2018,Burning,90,7.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
df_short = df[df.Short!=1]
df_short.shape

(9157, 31)

In [118]:
def series(year):
    if (year.find('–')>0):
        return 1
    else:
        return 0

In [28]:
df_short['series'] = df.year.astype(str).apply(series)

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df_short.head()

,year,title,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,series
0,2019,Parasite,92,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,2013,Snowpiercer,84,7.1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2003,Oldeuboi,77,8.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2016,The Handmaiden,84,8.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4,2018,Burning,90,7.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [30]:
df_series = df_short[df_short.series==0]
df_series.shape

(7301, 32)

In [31]:
df_series['sum'] = df_series.loc[:, 'Action':'Western'].sum(axis=1)

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
df_series.head()

,year,title,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,series,sum
0,2019,Parasite,92,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0
1,2013,Snowpiercer,84,7.1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0
2,2003,Oldeuboi,77,8.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0
3,2016,The Handmaiden,84,8.1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0
4,2018,Burning,90,7.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0

In [33]:
df_genres = df_series[(df_series['None']!=1) & (df_series['Game-Show']!=1) & (df_series['News']!=1) & \
                   (df_series['Reality-TV']!=1) & ((df_series['Sport']!=1) | (df_series['sum']!=1)) & \
                  (df_series['Talk-Show']!=1)]    
df_genres.shape

(6473, 33)

In [34]:
df_genres.year.unique()

array(['2019', '2013', '2003', '2016', '2018', '2017', '2019 TV Movie',
       '2010', '2006', '2009', '2008', '2005', '2014', '2002', '2004',
       nan, '2011', '2015', '2001', '2012', '2000', '2007', '1999',
       '1981', '2017 Video Game', '1998', '1985', '1960',
       '2015 Video Game', '1997', '2018 Video Game', '2009 Video', '1996',
       '1986', '2014 Video', '1992', '1976', '2015 Video', '1987', '1967',
       '1990', '1961', '1978', '2013 TV Movie', '1993', '1977', '1989',
       '2010 TV Movie', '2014 TV Movie', '1984', '1995', '1971',
       '2019 Video Game', '1980', '1956', '1962', '2011 TV Movie', '1982',
       '1979', '2007 TV Movie', '2012 Video Game', '1983', '1972', '1963',
       '1968', '2008 Video Game', '1991', '1994', '1975',
       '1988 Video Game', '1996 Video Game', '1994 Video', '2016 Video',
       '2003 Video Game', '2010 Video', '1965', '2020', '2012 TV Movie',
       '1964', '1955', '1958', '2016 TV Movie', '2013 Video',
       '2000 Video Game', '1995 Video', '1974', '1988', '1991 Video',
       '1969', '2013 Video Game', '2004 Video Game', '1966', '1954',
       '2018 TV Movie', '1973', '1959', '2004 TV Movie', '1957', '1948',
       '2016 Video Game', '1949', '1970', '2018 TV Special',
       '1991 Video Game', '1998 Video Game', '2014 Video Game',
       '2009 Video Game', '2001 Video Game', '2010 Video Game', '1952',
       '1998 TV Movie', '2000 Video', '2008 TV Movie', '2003 Video',
       '2008 Video', '1994 Video Game', '1992 Video Game', '2017 Video',
       '2006 Video', '1983 TV Movie', '2002 TV Movie', '2000 TV Movie',
       '2001 TV Movie', '1989 Video Game', '1990 Video Game',
       '2017 TV Movie', '1984 TV Movie', '1987 TV Movie', '2009 TV Movie',
       '2011 TV Special', '2011 Video', '1993 Video Game',
       '1986 TV Movie', '2012 Video', '1953', '2011 Video Game', '1950',
       '2018 Video', '2005 TV Movie', '2001 Video', '1985 TV Movie',
       '1979 Video Game', '2006 TV Movie', '2005 Video', '2007 Video',
       '2005 Video Game', '1987 Video Game', '2015 TV Movie',
       '2003 TV Movie', '2006 Video Game', '1951'], dtype=object)

In [265]:
def clean2(year):
    if (year.find('Special')>0 or year.find('Video')>0 or year.find('TV')>0 or year.find('Short')>0):
        return 1
    else:
        return 0

In [29]:
def clean3(year):
    if (year.find('TV Movie')>0):
        return 1
    else:
        return 0

In [38]:
df_genres.year = df_genres.year.fillna(3000).astype(str)

/Users/leozeine/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [39]:
df_genres['special'] = df_genres.year.apply(clean2)
df_genres['tvmovie'] = df_genres.year.apply(clean3)

/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/leozeine/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [40]:
df_genres[df_genres.special==1].head()

,year,title,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Short,Sport,Talk-Show,Thriller,War,Western,series,sum,special,tvmovie
285,2017 Video Game,PlayerUnknown's Battlegrounds,None,6.8,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0,2.0,1,0
397,2015 Video Game,Black Desert Online,None,6.7,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1,0
440,2018 Video Game,Epic Seven,None,X,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1,0
516,2009 Video,Garfield's Pet Force,None,4.1,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,1,0
563,2014 Video,Jeolmeun Eomma 2,None,5.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1,0

In [41]:
df_video = df_genres[(df_genres.special!=1) & (df_genres.tvmovie!=1)]
df_video.shape

(6296, 35)

In [42]:
df_video.year.unique()

array(['2019', '2013', '2003', '2016', '2018', '2017', '2010', '2006',
       '2009', '2008', '2005', '2014', '2002', '2004', '3000', '2011',
       '2015', '2001', '2012', '2000', '2007', '1999', '1981', '1998',
       '1985', '1960', '1997', '1996', '1986', '1992', '1976', '1987',
       '1967', '1990', '1961', '1978', '1993', '1977', '1989', '1984',
       '1995', '1971', '1980', '1956', '1962', '1982', '1979', '1983',
       '1972', '1963', '1968', '1991', '1994', '1975', '1965', '2020',
       '1964', '1955', '1958', '1974', '1988', '1969', '1966', '1954',
       '1973', '1959', '1957', '1948', '1949', '1970', '1952', '1953',
       '1950', '1951'], dtype=object)

In [43]:
df_video[df_video.year=='2.0']

Empty DataFrame
Columns: [year, title, metascore, imdb_rating, Action, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Game-Show, History, Horror, Music, Musical, Mystery, News, None, Reality-TV, Romance, Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western, series, sum, special, tvmovie]
Index: []

[0 rows x 35 columns]

In [51]:
df_video.at[1663, 'year'] = '2018'
df_video.at[1663, 'year2'] = 2018

/Users/leozeine/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/leozeine/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [52]:
df_video[df_video.title=='Bia (2.0)']

,title,year,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Sport,Talk-Show,Thriller,War,Western,series,sum,tvmovie,special,year2
1663,Bia (2.0),2018,None,4.9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0,2018.0

In [44]:
df_video.shape

(6296, 35)

In [45]:
df_video.head()

,year,title,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Short,Sport,Talk-Show,Thriller,War,Western,series,sum,special,tvmovie
0,2019,Parasite,92,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
1,2013,Snowpiercer,84,7.1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
2,2003,Oldeuboi,77,8.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
3,2016,The Handmaiden,84,8.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
4,2018,Burning,90,7.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0

In [46]:
df_video[df_video.year=='3000']

,year,title,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Short,Sport,Talk-Show,Thriller,War,Western,series,sum,special,tvmovie
54,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
566,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
747,3000,,None,None,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
751,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
961,3000,Aurora,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
973,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
1144,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
1330,3000,,None,None,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
1440,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
1457,3000,,None,None,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
1639,3000,,None,None,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
1776,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0,3.0,0,0
1814,3000,The Vanished,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
1818,3000,,None,None,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
1886,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
2292,3000,Find Me,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
2295,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
2549,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
2562,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
2758,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
2827,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
2894,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
2918,3000,Deliberation,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
2938,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
3215,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
3363,3000,,None,None,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
3452,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
3504,3000,Ruby,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
3546,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
3641,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6407,3000,Another World,None,None,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
6427,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
6484,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
6793,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
6863,3000,,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
7624,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
7762,3000,,None,None,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
8074,3000,,None,None,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
8143,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
8178,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
8495,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
8593,3000,,None,None,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
8722,3000,Making of the DMZ,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
8788,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
8810,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,1.0,0,0
9443,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
9456,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
9505,3000,,None,None,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
9558,3000,,None,None,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
9560,3000,,None,None,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
9681,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
9746,3000,Mermaid,None,None,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
9793,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,1.0,0,0
10142,3000,The Spy,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,1.0,0,0
10428,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
10489,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0,0
10536,3000,Crime and Punishment,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,1.0,0,0
10559,3000,,None,None,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0
10588,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
10603,3000,,None,None,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0

In [47]:
df_ano2 = df_video[df_video.year!='3000']
df_ano2.shape

(6217, 35)

In [48]:
print(df_ano2.shape)
df_ano2.head()

(6217, 35)

,year,title,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Short,Sport,Talk-Show,Thriller,War,Western,series,sum,special,tvmovie
0,2019,Parasite,92,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
1,2013,Snowpiercer,84,7.1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
2,2003,Oldeuboi,77,8.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0,0,0
3,2016,The Handmaiden,84,8.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0,3.0,0,0
4,2018,Burning,90,7.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0,0,0

In [49]:
df_ano2['Talk-Show'].sum()

0.0

In [50]:
df_final = df_ano2[['title', 'year','metascore', 'imdb_rating', 'Action', 'Adventure', 'Animation', 'Biography', \
                   'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', \
                   'Musical', 'Mystery', 'Romance', 'Sci-Fi','Sport', 'Thriller', 'War', 'Western' ]]

In [51]:
df_final.head()

,title,year,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,Parasite,2019,92,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Snowpiercer,2013,84,7.1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,Oldeuboi,2003,77,8.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,The Handmaiden,2016,84,8.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,Burning,2018,90,7.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
print(df_final.shape)
df_final.head()

(6217, 25)

,title,year,metascore,imdb_rating,Action,Adventure,Animation,Biography,Comedy,Crime,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,Parasite,2019,92,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Snowpiercer,2013,84,7.1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,Oldeuboi,2003,77,8.4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,The Handmaiden,2016,84,8.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,Burning,2018,90,7.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
#df_final.to_csv('FeatureFilms-KR.csv')

In [ ]:
for name, group in